.bodyy{
background-color: yellow;
text-align: center;
font-weight: bolder;
background-size: cover;
}


.op{
    color: black;
}

.lol{
    color: white;
    background-color: black;
    font-weight: bolder;
}


.glory{
    background-color: cyan;
    text-align: center;
font-weight: bolder;
}


.stream{
    width: 1500px;
    height: 200px;
    background-color: yellow;
    font-weight: bolder;
    color: black;
    text-align: center;
}